:root {
    --primary-bg-color: #f0f0f0;
    --header-height: 35rem;
    --footer-bg-color: #23272A;
    --font-primary: 'Luckiest Guy', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --text-color-white: white;
    --text-color-black: black;
    --btn-radius: 5rem;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Section 1 */

.card_um{
    border: none;
    border-radius: 0;
}

.card-title{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: var(--text-color-white);
    text-align: center;
}


.card-text{
    font-family: var(--font-secondary);
    font-size: .9rem;
    color: var(--text-color-white);
    text-align: center;
    max-width: 60rem;
    word-break: break-word;
    margin: 0 auto;
}

.btn-baixar{
    background-color: var(--text-color-white);
    color: var(--text-color-black);
    
}

.btn-baixar:hover{
    background-color: var(--text-color-black);
    color: var(--text-color-white);
}

.btn-windows{
    background-color: var(--footer-bg-color);
    color: var(--text-color-white);
}

.btn-windows:hover{
    background-color: var(--text-color-white);
    color: var(--footer-bg-color);
}
 
.btn{
    border: none;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: var(--font-secondary);
}

/* Section 2 e 4 */

.section-title {
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--text-color-black);
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.05rem; 
    max-width: 20rem;
    word-break: break-word; 
}

.section-description{
    font-size: 1rem;
    color: var(--text-color-black);
    max-width: 25rem;
    word-break: break-word;
    margin-top: 1rem;
}

/* Section 3 */

#section3, #section5{
    background-color: var(--primary-bg-color)
}

.section-title-five{
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--text-color-black);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.05rem; 
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-description-five{
    font-size: 1rem;
    color: var(--text-color-black);
    max-width: 50rem;
    word-break: break-word;
    margin-top: 1rem;
    text-align: center;
    margin: 0 auto;
}


/* Footer */

.container-footer{
    font-size: 1rem;
}
.container-footer a{
    text-decoration: none;
    font-size: 1rem;
    
}

/* Media Queries */

@media screen and (max-width: 428px){

    .card_um{
        height: 33.25rem;
    }

    .card_um img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-title, .card-text{
        text-align: left;
        margin: 1rem 0;

    }

    .card-text{
        text-align: justify;
        font-size: 1rem;
    }

    .btn{
        width: 100%;
        margin: .3 auto;
    }

    .section-title{
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: 0; 
        max-width: 100%;
        word-break: none;
        margin: 1rem auto;
        padding: 1rem;
    }

    .section-description{
        text-align: justify;
        margin: 1rem auto;
        padding: 1rem;
    }

    .section-title-five{
        font-size: 2rem;
        text-align: center;
        line-height: 1.2;
        letter-spacing: 0; 
        max-width: 100%;
        word-break: none;
        margin: 1rem auto;
        padding: 1rem;
    }

    .section-description-five{
        text-align: justify;
        margin: 1rem auto;
        padding: 1rem;
    }



}

@media screen and (max-width: 1018px){


}